<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../../assets/css/floating-labels.css"> -->
  </head>
  <body>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card mt-5">
              <div class="card-header">
                List Anggota dan User KSP
              </div>
              <div class="card-body">
                <h5 class="card-title">Admin & Kasir</h5>
                <p class="card-text">Akun anggota kasir yang mampu melakukan transaksi simpan/pinjam, anda dapat
                  menghapus, mengedit, atau merubah akses akun kasir
                </p>
                <a href="#" class="btn btn-outline-primary">Tampilkan</a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Data Anggota KSP</h5>
                <p class="card-text">Informasi Nasabah KSP</p>
                <a href="#" class="btn btn-outline-primary">Tampilkan</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-5">
              <div class="card-header">
                Data Simpanan, Pengambilan, History Simpanan
              </div>
              <div class="card-body">
                <h5 class="card-title">Data Simpanan</h5>
                <p class="card-text">Informasi detail simpanan nasabah Jenis simpanan, saldo, no pendaftaran. 
                  Anda dapat menghapus data simpanan
                </p>
                <a href="#" class="btn btn-outline-primary">Tampilkan</a>
              </div>
              <div class="card-body">
                  <h5 class="card-title">Pengambilan</h5>
                  <p class="card-text">Informasi Pengambilan</p>
                  <a href="#" class="btn btn-outline-primary">Tampilkan</a>
              </div>
              <div class="card-body">
                  <h5 class="card-title">Riwayat Simpanan</h5>
                  <p class="card-text">Informasi riwayat nasabah yang melakukan transaksi simpanan</p>
                  <a href="#" class="btn btn-outline-primary">Lihat Riwayat</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                  Admin Panels
                </div>
                <div class="card-body">
                    <h5 class="card-title">Data Pinjaman</h5>
                    <p class="card-text">Informasi Data Pinjaman</p>
                    <a href="#" class="btn btn-outline-primary">Detail</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Data Angsuran</h5>
                    <p class="card-text">Informasi Angsuran Nasabah </p>
                    <a href="#" class="btn btn-outline-primary">Detail</a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </body>
</html>
